.eucookielaw-banner {
    position: fixed;
    left: 0;
    right: 0;
    font-family: "Arial", serif;
    background-color: #444;
    color: #fff;
    z-index: 99999;
    border: 1px solid #ccc;

}
.eucookielaw-banner.fixedon-top{
    top: 0;
    border-radius: 0 0 1em 1em;

}
.eucookielaw-banner.fixedon-static{
    position: static;
}

body.admin-bar .eucookielaw-banner.fixedon-top{
    top: 32px;
}
.eucookielaw-banner.fixedon-bottom{
    bottom: 0;
}

.eucookielaw-banner a {
    color: #fff;
    text-decoration: underline;
}
.eucookielaw-banner a:hover{
    color: #ff0;
}
.eucookielaw-banner .well {
    background-color: #444;
    border: 0;
    display: block;
    padding: 1em;
}

.eucookielaw-banner .well h1.banner-title {
    border-bottom: 1px solid #ccc;
}

.eucookielaw-banner .well p.banner-message {
    line-height: 150%;
}

.eucookielaw-banner .well p.banner-agreement-buttons {
    text-align: right;
    border-top: 1px dashed #666;
    margin-top: 1em;
}

.eucookielaw-banner .well p.banner-agreement-buttons a.disagree-button,
.eucookielaw-banner .well p.banner-agreement-buttons a.agree-button {
    border: 1px solid #888;
    background-color: #666;
    padding: 0.5em;
    border-radius: 0.5em;
    margin: 0.5em;
    display: inline-block;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.eucookielaw-banner .well p.banner-agreement-buttons a.disagree-button{
    background-color: #f0ad4e;
    color: #444;
}

.eucookielaw-banner .well p.banner-agreement-buttons a.agree-button{
    background-color: #aaff44;
    color: #444;
}

/* Light Theme */
.eucookielaw-banner.light{
    font-size: 75%;
    background-color: #eee;
    color: #444;
}

.eucookielaw-banner.light .well{
    background-color: #eee;
    color: #444;
}

.eucookielaw-banner.light a{
    color: #800;
}
.eucookielaw-banner.light .well p.banner-agreement-buttons{
    border-top: 0;
    margin: 0;
}

    .eucookielaw-banner.light .well p.banner-agreement-buttons a.btn{
        border: 0;
        text-decoration: underline;
        background-color: transparent;
        padding: 0;
        margin: 0 0.3em;
    }

/* Grass Theme */
.eucookielaw-banner.grass{
    font-size: 1em;
    background-color: #eee;
    color: #444;
}

.eucookielaw-banner.grass .well{
    background-color: #efc;
    color: #264;
}

.eucookielaw-banner.grass a{
    color: #486;
}
.eucookielaw-banner.grass .well p.banner-agreement-buttons{
    border-top: 0;
    margin: 0;
}

.eucookielaw-banner.grass .well p.banner-agreement-buttons a.btn{
    color: #080;
    border: 0;
    text-decoration: underline;
    background-color: transparent;
    padding: 0;
    margin: 0 0.3em;
}
.eucookielaw-banner .well p.banner-agreement-buttons a.disagree-button{
    color: #800;
}

@media screen and (max-width: 640px){
    .eucookielaw-banner{
        font-size: 50%;
    }
}

.eucookielaw-blocked{
    border: 1px solid #ccc;
    background-color: #eee;
    color: #444;
    font-weight: bold;
    text-align: center;
    display: inline-block;

}