.eucookielaw-banner {
    position: fixed;
    left: 0;
    right: 0;
    font-family: "Arial", serif;
    background-color: #444;
    color: #fff;
    z-index: 99999;
    border: 1px solid #ccc;

}
.eucookielaw-banner.fixedon-top{
    top: 0;
    border-radius: 0 0 1em 1em;

}

body.admin-bar .eucookielaw-banner.fixedon-top{
    top: 32px;
    border-radius: 1em 1em 0 0;

}
.eucookielaw-banner.fixedon-bottom{
    bottom: 0;
}

.eucookielaw-banner a {
    color: #fff;
    text-decoration: underline;
}
.eucookielaw-banner a:hover{
    color: #ff0;
}
.eucookielaw-banner .well {
    background-color: #444;
    border: 0;
    display: block;
    padding: 1em;
}

.eucookielaw-banner .well h1.banner-title {
    border-bottom: 1px solid #ccc;
}

.eucookielaw-banner .well p.banner-message {
    line-height: 150%;
}

.eucookielaw-banner .well p.banner-agreement-buttons {
    text-align: right;
    border-top: 1px dashed #666;
    margin-top: 1em;
}

.eucookielaw-banner .well p.banner-agreement-buttons a.disagree-button,
.eucookielaw-banner .well p.banner-agreement-buttons a.agree-button {
    border: 1px solid #888;
    background-color: #666;
    padding: 0.5em;
    border-radius: 0.5em;
    margin: 0.5em;
    display: inline-block;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.eucookielaw-banner .well p.banner-agreement-buttons a.disagree-button{
    background-color: #f0ad4e;
    color: #444;
}

.eucookielaw-banner .well p.banner-agreement-buttons a.agree-button{
    background-color: #aaff44;
    color: #444;
}